# DigitalOcean Container Registry settings
DO_TOKEN=your_digitalocean_token_here

# Docker Compose settings
COMPOSE_FILE=/opt/proxy-tunnel/docker-compose.yml

# DOSync settings
CHECK_INTERVAL=1m
VERBOSE=--verbose

# Optional: DigitalOcean registry name
DO_REGISTRY=proxy-tunnel 